@{
    Layout = null;
}

<button class="btn btn-primary" value="Create" ng-click="vm.Create()">Create</button>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Description</th>
            <th>Name</th>
            <th>State</th>
            <th>Owner</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="data in vm.workflow">
            <td>{{data.properties.bpm_description}}</td>
            <td>{{data.name}}</td>
            <td>{{data.state}}</td>
            <td>{{data.owner.userName}}</td>
            <td> <button class="btn btn-primary" value="Details" ng-click="vm.Details(data.id)">Details</button></td>

        </tr>
    </tbody>
</table>
