
@{
    Layout = null;
}

<form>
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" class="form-control" id="Name" ng-model="vm.AccountModel.Name">
    </div>
    <div class="form-group">
        <label for="acntNumber">Account Number:</label>
        <input type="text" class="form-control" id="acntNumber" ng-model="vm.AccountModel.AccountNumber">
    </div>
    <div class="form-group">
        <label for="Amount">Amount:</label>
        <input type="text" class="form-control" id="Amount" ng-model="vm.AccountModel.Amount">
    </div>
    <button type="submit" class="btn btn-default" ng-click="vm.AddAccount()">Submit</button>
</form>