@{
    Layout = null;
}



<div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Create Folders</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="Name">Folder Name:</label>
                            <input type="text" class="form-control" id="Name" ng-model="vm.Folder.Name">
                        </div>

                        <button type="submit" class="btn btn-default" ng-click="vm.AddFolders()">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapsethree">Create Child Folders</a>
                </h4>
            </div>
            <div id="collapsethree" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="Name">Folder Path:</label>
                            <input type="text" class="form-control" id="cpath" ng-model="vm.CFolder.Path">
                        </div>
                        <div class="form-group">
                            <label for="Name">Folder Name:</label>
                            <input type="text" class="form-control" id="cName" ng-model="vm.CFolder.Name">
                        </div>
                        <div class="form-group">
                            <label for="Name">Upload Filke</label>
                            <input type="file" class="form-control" id="mFile" />
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="vm.AddCFolders()">Submit</button>
                        <button type="submit" class="btn btn-default" ng-click="vm.Upload()">Upload</button>

                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Get All Folders</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Node Reference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in vm.folders">
                                <td>{{data.name}}</td>
                                <td>{{data.title}}</td>
                                <td>{{data.description}}</td>

                                <td>{{data.nodeRef}}</td>
                                <td> <button class="btn btn-primary" value="Details" ng-click="vm.Details(data.name)">Get Child</button></td>


                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Sub Folders</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Has Children</th>
                                <th>Node Reference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in vm.Subfolders">
                                <td>{{data.name}}</td>
                                <td>{{data.hasChildren}}</td>
                                <td>{{data.nodeRef}}</td>
                                <td> <button class="btn btn-primary" value="Details" ng-click="vm.GetDocument()">Get Document</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapsedoc">Documents</a>
                </h4>
            </div>
            <div id="collapsedoc" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Mime</th>
                                <th>Created By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in vm.Documents">
                                <td>{{data.fileName}}</td>
                                <td>{{data.mimetype}}</td>
                                <td>{{data.createdBy}}</td>
                                <td>

                                    <button type="submit" class="btn btn-default" ng-click="vm.Checkout(data.fileName)">Check OUT</button>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-default" ng-click="vm.Checkin(data.fileName)"> Check in</button>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-danger" ng-click="vm.Delete(data.fileName)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>


    </div>

</div>