
@{
    Layout = null;
}

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Account Number</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="account in vm.Account">
            <td>{{account.Name}}</td>
            <td>{{account.AccountNumber}}</td>
            <td>{{account.Amount}}</td>
            <td>  <button class="btn btn-danger" ng-click="vm.Delete(account.AccountNumber)" value="Delete">Delete</button></td> 
            
        </tr>
      
    </tbody>
</table>
<input type="button" value="Create" class="btn btn-primary" ng-click="vm.Add()" />

