@{
    Layout = null;
}

<div class="row panel panel-default" style="margin-top:2%;">
    <div class="panel-heading lead">
        <div class="row">
            <div class="col-lg-8 col-md-8"><i class="fa fa-users"></i> Task Details</div>
        </div>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="row">

                    <div class="col-lg-12 col-md-12">
                        <ul class="nav nav-tabs">

                            <li class="active"><a data-toggle="tab" data-target="#Properties" class="text-info"><i class="fa fa-indent"></i> Properties</a></li>
                            <li><a data-toggle="tab" data-target="#workflowInstance" class="text-info"><i class="fa fa-bookmark-o"></i> workflow Instance</a></li>

                        </ul>

                        <div class="tab-content">
                            <div id="Properties" class="tab-pane fade in active">

                                <div class="table-responsive panel">
                                    <table class="table">
                                        <tbody>

                                            <tr>
                                                <td class="text-info"><i class="fa fa-user"></i> Owner</td>
                                                <td>{{ vm.Properties.owner.firstName}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-info"><i class="fa fa-list-ol"></i>State</td>
                                                <td>{{ vm.Properties.state}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-info"><i class="fa fa-book"></i> Start Date</td>
                                                <td>{{ vm.Properties.properties.bpm_startDate}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-info"><i class="fa fa-group"></i> Task Decription</td>
                                                <td>{{ vm.Properties.properties.bpm_description}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-info"><i class="fa fa-calendar"></i> Task Status</td>
                                                <td>{{ vm.Properties.properties.bpm_status}}</td>
                                            </tr>

                                            <tr>
                                                <td class="text-info"><i class="fa fa-university"></i>Priority</td>
                                                <td>
                                                    {{vm.Properties.propertyLabels.bpm_priority}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="workflowInstance" class="tab-pane fade">
                                <div class="table-responsive panel">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="text-info"><i class="fa fa-home"></i> Initiator</td>
                                                <td>
                                                    {{ vm.Properties.workflowInstance.initiator.userName}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-info"><i class="fa fa-home"></i> Message</td>
                                                <td>
                                                    {{ vm.Properties.workflowInstance.message}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-info"><i class="fa fa-home"></i> Title</td>
                                                <td>
                                                    {{ vm.Properties.workflowInstance.title}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-info"><i class="fa fa-home"></i> Description</td>
                                                <td>
                                                    {{ vm.Properties.workflowInstance.description}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<button class="btn btn-primary" value="Back" ng-click="vm.Back()">Back</button>