<!DOCTYPE html>
<html ng-app="ApplicationModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signal R</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/Jquery/js", "~/Scripts/Angular/js", "~/Scripts/Controller/js", "~/Scripts/Factory/js")
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>

    <div class="container ">
        <div ui-view="Header"></div>
        <div class="body-content" ui-view="content"></div>
        @RenderBody()
    </div>



</body>
</html>
